header.app-header  {
    padding-top: 1%;
    padding-bottom: 1%;
    background: linear-gradient(329.54deg, #ffff 0%, #ffff 100%);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
  
header.app-header img {
    width: 48px;
}

.upper-button-wrapper {
    position: relative;
    width: 80%;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.upper-button-block {
    display: flex;
    align-items: center!important;
    justify-content: center;
    flex-direction: column;
}

.upper-button-block label {
    font-size: 12px;
    color: #017895;
}


header.app-header footer label {
    font-size: 12px;
    color: #017895;
    margin-bottom: 8px;
    justify-content: space-between;
}

/* Index Button */

header.app-header footer a,
header.app-header .upper-home-button a,
header.app-header footer button,
header.app-header .upper-home-button button,
.upper-button-block .upper-enter-path  {
    width: 48px;
    height: 48px;
  
    border: 0;
  
    background: #017895;
    border-radius: 16px;
  
    cursor: pointer;
  
    transition: background-color 0.2s;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-button-block a:hover,
.upper-button-block .enter-path:hover,
header.app-header footer a:hover,
header.app-header footer button:hover,
header.app-header .upper-home-button a:hover,
header.app-header .upper-home-button button:hover {
    background: #17D6EB;
}

@media only screen and (min-width: 1110px){
    header.app-header {
        display: none
    }
}

@media only screen and (max-width: 1110px){
    header.app-header footer a,
    header.app-header .upper-home-button a,
    header.app-header footer button,
    header.app-header .upper-home-button button,
    .upper-button-block .upper-enter-path  {
        width: 40px;
        height: 40px;
    
        border: 0;
    
        background: #017895;
        border-radius: 13px;
    
        cursor: pointer;
    
        transition: background-color 0.2s;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 600px){
    .upper-button-block label {
        font-size: 9px;
        color: #017895;
    }
    
    
    header.app-header footer label {
        font-size: 9px;
        color: #017895;
        margin-bottom: 8px;
        justify-content: space-between;
    }
}