<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>SEU IPV4:  <%= ipv4 %><br></p>
    <p>SEU IPV6:  <%= ipv6 %></body></p>
</body>
</html>