.control-map h1 {
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 20px 0px 10px 0px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 16px;
  max-width: 300px;
  margin: 20px;
  text-align: center;
  font-family: arial;
  border-radius: 10px;
}
  
.card-title {
  padding-top: 15px;
  font-size: 14px;
}
  
.card-price {
  color: grey;
  font-size: 16px;
}

.card-text {
  height: 50px;
  color: #203f51;
  font-size: 11px;
  padding: 10px 7px 10px 7px;
}
  
.card button {
  border: none;
  outline: 0;
  padding: 7px;
  color: white;
  
  text-align: center;
  cursor: pointer;
  width: 40%;
  font-size: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.card button:hover {
  opacity: 0.7;
}

.aprove {
  background-color:  #199;
}

.cancel {
  background-color: #DE463E;
}
