.table-container {
    width: 100%;
}

#companies {
    border-collapse: separate;
    border: solid white .8px;

    position: relative;
    margin: auto;
    margin-bottom: 34px;
    margin-top: 20px;
    width: 90%;
}

#companies th {
    background: linear-gradient(329.54deg, #017895 0%, #017895 100%);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 2px;
    padding-right: 2px;

    font-size: 12px;
    color: white;
}

#companies td {
    background:  #a9acb1;
    color: black;
    padding: 4px;

    font-size: 12px;
}

#noWrap {
    width: 60px;
}


#companies tr:nth-child(even){
    background-color: white;
}

#customers tr:hover {
    background-color: #ddd;
}

#companies td:first-child, #companies:first-child {
    border-left: none;
}

#customers tr:hover {
    opacity: 0.7;
}

#customers th {
  padding: 12px 20px 12px 20px;
  text-align: left;
  border-top: none;
  color: white;
}

/* Create two equal columns that floats next to each other */
.button-col {
    float: left;
    padding: 2.5px;
    width: 50%;
}
  
  /* Clear floats after the columns */
.button-row:after {
    content: "";
    display: table;
    clear: both;
}

button {
    border-radius: 5px;
    width: 26px;
    border: none;
}

button:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  

.aprove {
    background-color:  #199;
  }
  
.cancel {
    background-color: #DE2121;
}
  
.inactive {
    background-color: #994311;
}