.table-container {
    width: 100%;
}

.email-column{
    text-overflow: ellipsis;
}

#moderators {
    border-collapse: separate;
    border: solid white .8px;

    position: relative;
    margin: auto;
    margin-bottom: 34px;
    margin-top: 20px;
    width: 420px;
}

#moderators th {
    background: linear-gradient(329.54deg, #017895 0%, #017895 100%);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;

    font-size: 16px;
    color: white;
}

#moderators td {
    font-size: 16px;
    color: black;
}

#companies {
    border-collapse: separate;
    border: solid white .8px;

    position: relative;
    margin: auto;
    margin-bottom: 34px;
    margin-top: 20px;
    width: 100%;
}

#companies th {
    background: linear-gradient(329.54deg, #017895 0%, #017895 100%);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 2px;
    padding-right: 2px;

    font-size: 11px;
    color: white;
}

#companies td {
    background:  #d3d3d3;
    color: black;
    padding: 4px;

    font-size: 11px;
    max-width: 170PX;
    overflow: hidden;
}

#noWrap {
    width: 60px;
}


#companies tr:nth-child(even){
    background-color: white;
}

#customers tr:hover {
    background-color: #ddd;
}

#companies td:first-child, #companies:first-child {
    border-left: none;
}

#customers tr:hover {
    opacity: 0.7;
}

#customers th {
  padding: 12px 20px 12px 20px;
  text-align: left;
  border-top: none;
  color: white;
}

/* Create two equal columns that floats next to each other */
.button-col {
    float: left;
    padding: 2.5px;
    width: 50%;
}
  
  /* Clear floats after the columns */
.button-row:after {
    content: "";
    display: table;
    clear: both;
}

button {
    border-radius: 5px;
    width: 26px;
    border: none;
}

button:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  

.aprove {
    background-color:  #199;
  }
  
.cancel {
    background-color: #DE2121;
}
  
.inactive {
    background-color: #994311;
}

.max-promo-input{
    width: 40px;
}

.max-promo-row{
    flex-direction: row;
}
.max-promo-row{
    flex-direction: column;
    width: 50%;
}

.validate-input{ 
    width: 120px;
    font-size: small;
    margin-right: 5px;
}

.search-button-row{
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    display: flex;
}

.search-input {
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

@media only screen and (max-width: 1110px){
    #moderators th{
        font-size: 12px!important;
    }
    #companies th {
        font-size: 9px;
    }
    #companies td {
        color: black;
        padding: 2px;
        max-width: 90px;
        overflow: hidden;
        font-size: 9px;
    }
}