.table-container {
    width: 100%;
}
#companies {
    border-collapse: separate;
    border: solid white 1px;
    border-radius: 6px;

    position: relative;
    margin: auto;
    margin-bottom: 34px;
    margin-top: 20px;
    width: 97%;
}

#companies th {
    background: linear-gradient(329.54deg, #42b3c5 0%, #119999 100%);
}

#companies td {
    background:  #a9acb1;
}

#companies td, #companies th {
    padding: 8px;

    font-size: 12px;
    color: black;
}

#noWrap {
    width: 60px;
}


#companies tr:nth-child(even){
    background-color: white;
}

#customers tr:hover {
    background-color: #ddd;
}

#companies td:first-child, #companies:first-child {
    border-left: none;
}

#customers tr:hover {
    opacity: 0.7;
}

#customers th {
  padding-top: 12px 20px 12px 20px;
  text-align: left;
  border-top: none;
  color: white;
}

/* Create two equal columns that floats next to each other */
.button-col {
    float: left;
    padding: 2.5px;
    width: 50%;
}
  
  /* Clear floats after the columns */
.button-row:after {
    content: "";
    display: table;
    clear: both;
}

button {
    border-radius: 5px;
    width: 25px;
    border: none;
}

button:hover {
    opacity: 0.7;
  }
  

.aprove {
    background-color:  #199;
  }
  
.cancel {
    background-color: #DE463E;
}
  