#page-welcome {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(329.54deg, #9edbe4 0%, #9edbe4 100%);

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-welcome .welcome-wrapper {
  position: relative;
  width: 100%;
  max-width: 1090px;

  height: 100%;
  max-height: 600px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

#page-welcome .welcome-wrapper main{
  max-width: 450px;
  margin-bottom: 20px;
}

.welcome-text {
  margin-bottom: 50px;
}

#page-welcome .welcome-wrapper main h1{
  font-size: 45px;
  font-weight: 900;
  line-height: 70px;
  color:#212529;
}

#page-welcome .welcome-wrapper main p{
  font-size: 31px;
  color:#212529;
}

.welcome-block{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.welcome-block-row {
  display: flex;
  flex-direction: column;
}

.welcome-wrapper .location{
  position: absolute;
  right: 0;
  top: 0;

  margin-top: 0px;

  font-size: 24px;
  color:#017895;

  display: flex;
  flex-direction: column;
}

.welcome-wrapper .enter-app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 0;
  

  margin-top: 20px;
  margin-bottom: 65px;
}

.welcome-wrapper .enter-app-col1 {
  margin-top: 10px;
}

.welcome-wrapper .enter-app-col2 {
  margin-top: 10px;
}

.enter-text {
  margin-left: 10px;
  color: #fa690a;
  margin-bottom: 10px;
  text-decoration: none;
}

.welcome-wrapper .enter-app {
  width: 80px;
  height: 80px;
  background: #017895;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;
}

.welcome-wrapper .register-app {
  width: 150px;
  height: 80px;
  background: #FFFF;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;
  text-decoration: none;
}

.welcome-wrapper .enter-app:hover {
  background: #96feff;
}

.welcome-wrapper .register-app:hover {
  background: #96feff;
}

.qrcodeLogo {
  width: 180px;
}

.appstoreLogo{
  margin-top: 20px;
  width: 200px;
  margin-left: 20px;
}

.googleplayLogo {
  width: 220px;
  margin-left: 20px;
}

.landingImg1 {
  width: 300px;
  margin-bottom: 24px;
}

.smartphone {
  width: 700px;
}
.pngEnter {
  height: 20px;
  width: 20px
}

@media only screen and (max-width: 1110px){
  #page-welcome {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #9edbe4 0%, #9edbe4 100%);
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5em!important;
    padding-right: 5em!important;
    padding-top: 1em!important;
    overflow-x: visible;
  }
  .welcome-wrapper .enter-app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 15%;
    
    margin-bottom: 61px;
  }
  .landingImg1 {
    width: 50%;
    margin-bottom: 10px;
  }
  .smartphone {
    width: 110%;
  }
  .pngEnter {
    height: 20px;
    width: 20px
  }
}

@media only screen and (max-width: 937px){
  #page-welcome {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #9edbe4 0%, #9edbe4 100%);
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 3em!important;
    padding-right: 2em!important;
    padding-top: 1em!important;
    overflow-x: hidden;
  }
  #page-welcome .welcome-wrapper main{
    max-width: 100%;
  }
  .welcome-wrapper .enter-app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2em;
    bottom: 15%;
    
    margin-bottom: 80px;
  }
  .welcome-wrapper .enter-app {
    width: 90px;
    height: 90px;
    background: #017895;
    border-radius: 30px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: background-color 0.2s;
  }
  .welcome-wrapper .register-app {
    width: 120px;
    height: 90px;
    background: #FFFF;
    border-radius: 30px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: background-color 0.2s;
    text-decoration: none;
  }
  .landingImg1 {
    width: 50%;
    margin-bottom: 10px;
  }
  .smartphone {
    width: 110%;
  }
  .qrcodeLogo{
    visibility: hidden;
  }
  .welcome-wrapper .location{
    visibility: hidden;
  }
  .welcome-block{
    flex-direction: column;
  }
  .pngEnter {
    height: 40px;
    width: 40px
  }
}

